[submodule "spacenet-backend/dynamic-topology-generator"]
	path = spacenet-backend/dynamic-topology-generator
	url = https://github.com/SpaceNetTestbed-public/SpaceNetPhase1.git
	branch = main
[submodule "spacenet-backend/constellation-simulator-main"]
	path = spacenet-backend/constellation-simulator-main
	url = https://github.com/SpaceNetTestbed-public/SpaceNetPhase2.git
	branch = main
